section{
    background-color: bisque;
    width: auto;
    height: 500px;
    align-content:center;

}

ul{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    background-color: aqua;
    height: auto;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
}

li{
    border:5px solid black;
    margin: 5px;
    padding: 5px;
    width: 100px
    
}

.box{
    background-color: red;
    color: white;
    border:5px solid black;
    margin: 5px;
    padding: 5px;

}